/.vs/WebNails.Admin/v16/.suo
/obj/Debug/WebNails.Admin.csproj.AssemblyReference.cache
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/bin/WebNails.Admin.dll
/bin/WebNails.Admin.pdb
/obj/Debug/WebNails.Admin.csproj.CoreCompileInputs.cache
/obj/Debug/WebNails.Admin.dll
/obj/Debug/WebNails.Admin.pdb
/bin/WebNails.Admin.dll.config
/obj/Debug/WebNails.Admin.csproj.FileListAbsolute.txt
/.vs/WebNails.Admin/config/applicationhost.config
